//-----empty bag
.empty-bag{
  font-family: $SimonCircularBold;
  font-size: 33.1px;
  line-height: 33.1px;
  letter-spacing: -1px;
  color: $black;
  margin: 40px 15px 75px;
  @include breakpoint(mobile){
    font-size: 29.9px;
    line-height: 29.9px;
    letter-spacing: -0.9px;
  }
}

.trending-items{
  margin-bottom:100px;

  h4{
    padding-top: 16.8px;
    padding-bottom: 6.3px;
  }

  h6{
    font-family: "SimonCircular-Book";
  }
}

.trending-now{
  h2{
    padding-bottom:33px;
  }
}

.heading.major{
  margin: 0 15px 22px 15px;
  font-size: 28px
}