@charset "UTF-8";

// common colors
$lightGreen:		#99cc30;
$algaeGreen:		#689709;

// Text Color
$mainText: 			#323131;
$secondLevelText: 	#666666;
$thirdLevelText: 	#999999;
$lightGreenText: 	$lightGreen;

// Background Color
$bodyBg: 			#f4f4f4;
$headingBg:			#f8f8f8;
$containerBG: 		#ffffff;

// Border color
$darkGreyBorder: 	#818181;
$lightGreyBorder:	#e4e4e4;
$lightGreenBorder:	$lightGreen;