$icon-alpha-bottom:"\e900";
$icon-alpha-top:"\e901";
$icon-arrordion-minus:"\e902";
$icon-arrordion-plus:"\e903";
$icon-arrow-back:"\e904";
$icon-arrow-dark-large:"\e905";
$icon-arrow-dark-large-up:"\e906";
$icon-arrow-down:"\e907";
$icon-arrow-fwd:"\e908";
$icon-arrow-light-large:"\e909";
$icon-arrow-light-large-up:"\e90a";
$icon-arrow-up:"\e90b";
$icon-calendar:"\e90c";
$icon-checked:"\e90d";
$icon-close-circle:"\e90e";
$icon-close-large:"\e90f";
$icon-close-small:"\e910";
$icon-coming-soon:"\e911";
$icon-diamond:"\e912";
$icon-directions:"\e913";
$icon-doller:"\e914";
$icon-download:"\e915";
$icon-edit:"\e916";
$icon-empty-cart:"\e917";
$icon-feet:"\e918";
$icon-fill-cart:"\e919";
$icon-find-center:"\e91b";
$icon-hamburger:"\e91c";
$icon-help:"\e91d";
$icon-increase-number:"\e91e";
$icon-large-minus-block:"\e91f";
$icon-lock:"\e920";
$icon-login:"\e921";
$icon-mail:"\e922";
$icon-mini-bag-blank:"\e923";
$icon-mini-cart:"\e924";
$icon-mute:"\e926";
$icon-pause:"\e927";
$icon-phone:"\e928";
$icon-pin:"\e929";
$icon-pin-start:"\e92a";
$icon-play:"\e92b";
$icon-plus:"\e92c";
$icon-print:"\e92d";
$icon-search:"\e92e";
$icon-shop3:"\e92f";
$icon-show-list:"\e930";
$icon-small-minus:"\e931";
$icon-small-minus-block:"\e932";
$icon-sound:"\e933";
$icon-star:"\e934";
$icon-support:"\e935";
$icon-up-down-arrows:"\e937";
$icon-upload:"\e938";
$icon-zoom-in:"\e939";
$icon-zoom-out:"\e93a";
$icon-fav-filled:"\e93b";
$icon-favorites-blank:"\e93c";
$icon-check-circle:"\e93d";
$icon-error:"\e936";
$icon-verify-icon:"\e93e";